    *
    {
        /* so padding reaches top and sides*/
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* header of page css ----------------------------*/

    /* code for header blending in when scrolling */
    #headerBlock.scrolled 
    {
        background-color: white; /* Change this to scroll choice color */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 75px;
        transition: background-color 0.3s ease-in-out;
        z-index: 999;
    }

    /* code for white padding block/header */
    #headerBlock
    {
        padding: 2px;
        transition: background-color 0.3s ease-in-out;
        background-color: #ccbed4;  /* color to blend header into image*/
    }

    /* code for font size of logo home button */
    #headerBlock p
    {
        font-size: 1.5em; 
        margin: 20px;
    }

    /* get rid of underline of logo link */
    #headerBlock a
    {
        text-decoration: none; 
    }

    /* code for dropdown menu size/location */
    #headerBlock span
    {
        font-size: 30px;
        cursor: pointer;
        float: right;
        width: 50px; 
        margin: 20px;
    }

    /*Overlay*/
    .overlay {
        height: 0; /*No height comes from top*/
        width: 100%; /*Width comes from top*/
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0); /*Color of drop*/
        background-color: rgba(0,0,0, 0.9); /*With opaticy*/
        overflow-x: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    /*How the content is postioned in overlay*/
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    /*How the links will look inside the display*/
    .overlay a 
    {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: rgb(162, 162, 162);
        display: block;
        transition: 0.3s;
    }

    /*On mouse hover changes style of links*/
    .overlay a:hover, .overlay a:focus 
    {
        color: #335e7e;
    }

    /*Where the close button while be*/
    .overlay .closebtun 
    {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    /* body section ----------------------------------*/

    body 
    {
        /* font style and color of entire body*/
        font-family: 'Merriweather Sans', sans-serif;
        background-color: #335e7e;
    }

    .overheadcontainer{
        color: white;
    }
    .the_title {
        text-align: center;
        letter-spacing: -.02em;
        font-size: 32px;
        line-height: 40px;
        margin-top: 2em;
    }
    .the_title_text {
        max-width: 820px;
        text-align: center;
        margin: 16px auto 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }


    /* body content */
    .containerblocks {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .block1,
    .block2,
    .block3,
    .block4 {
        margin: 3em;
        display: flex;
        justify-content: center;
    }
    
    .quote {
        background-color: white;
        border-radius: 5px;
        padding: 1em;
        quotes: "\201C" "\201D";
    }

    .quote:hover {
        background-color: #ffffff;
        border: 2px solid #cd9ee9;
    }
    
    .quote:hover p {
        color: #000;
    }
    
    
    .quote p {
        quotes: none;
    }
    
    .quote::before {
        content: open-quote;
        font-size: 3em;
        margin-right: 0em;
    }

    .quote::after {
        content: close-quote;
        font-size: 3em;
        margin-left: 0;
    }

    







/* page footer below-------------------- */
    .footer-container
    {
        background-color: #ccbed4;
        padding: 4rem 0 8rem 0;
    }

    .logoFooter{
        margin: 20px 100px;
    }

    /*footer basics*/
    .footer
    {
        width: 60%;
        height: 25vh;
        background-color: #ccbed4;
        color: black;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0 auto;
        position: sticky;
        bottom: 0;
    }

    /*footer organization*/
    .footer-info
    {
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
    }

    /*footer anchor details*/
    .footer-info a
    {
        color: black;
        text-decoration: none;
        margin-bottom: 2rem;
        margin-right: 5rem;
    }

    /*hover color footer*/
    .footer-info a:hover
    {
        color: #cd9ee9;
        transition: 0.1s ease-out;
        text-decoration: underline;
    }

    .unorderd_list{
        font-size: medium;
        word-spacing: 2px;
        width: 600px;
        margin-left: 8em; 
        margin-bottom: 3em;
    }