*
  {
    /* so padding reaches top and sides*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* header of page css ----------------------------*/

  /* code for header blending in when scrolling */
  #headerBlock.scrolled 
  {
    background-color: white; /* Change this to scroll choice color */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    transition: background-color 0.3s ease-in-out;
    z-index: 999;
  }

  /* code for white padding block/header */
  #headerBlock
  {
    padding: 2px;
    transition: background-color 0.3s ease-in-out;
    background-color: #cecdc8;  /* color to blend header into image*/
  }

  /* code for font size of logo home button */
  #headerBlock p
  {
    font-size: 1.5em; 
    margin: 20px;
  }
  
  /* get rid of underline of logo link */
  #headerBlock a
  {
    text-decoration: none; 
  }

  /* code for dropdown menu size/location */
  #headerBlock span
  {
    font-size: 30px;
    cursor: pointer;
    float: right;
    width: 50px; 
    margin: 20px;
  }
  
  /*Overlay*/
  .overlay {
    height: 0; /*No height comes from top*/
    width: 100%; /*Width comes from top*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0); /*Color of drop*/
    background-color: rgba(0,0,0, 0.9); /*With opaticy*/
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  /*How the content is postioned in overlay*/
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  /*How the links will look inside the display*/
  .overlay a 
  {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: rgb(162, 162, 162);
    display: block;
    transition: 0.3s;
  }
  
  /*On mouse hover changes style of links*/
  .overlay a:hover, .overlay a:focus 
  {
    color: #b476d8;
  }
  
  /*Where the close button while be*/
  .overlay .closebtun 
  {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    width: 100%;
    left: 0;
    right: 0;
  }
  
  .slideshow-container img {
    width: 100%;
    height: auto;
  }
  
  /* On hover */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* The dots */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
  
  


  /* page body below---------------------*/

  body 
  {
    /* font style and color of entire body*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cecdc8;
  }

  #block1 {
    display: flex;
    align-items: center;
  }
  
  .block1-content {
    margin: 6em;
    width: 600px;
    font-size: 1.5em;
  }
  
  .block1-content h2 {
    font-size: larger;
    word-spacing: 2px;
  }
  
  .block1-content p {
    font-size: large;
    word-spacing: 2px;
    line-height: 1.5;
    width: 400px;
  }
  
  

/*block2---------------------*/

  .block2
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
    margin-top: 6em;
    /*background-color: #7a876b;*/
  }
  .box1
  {
    width: 350px;
    background-color: white;
    border: 1px solid grey;
    margin: 30px;
  }

  .box1-image
  {
    width: 100%;
    height: auto;
  }

  .box1-image img
  {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .box1-content
  {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }

  .box1-content span
  {
    color: black;
    font-size: 0.9rem;
  }

  .box1-content .box1-title
  {
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
  }

  .box1-content .box1-title:hover
  {
    color: #b476d8;
    transition: all ease 0.3s;
  }

  .box1-content p
  {
    color: black;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
  }

  .box1-content a
  {
    color: black;
  }
  .box1-content a:hover
  {
    color: #b476d8;
    transition: all ease 0.3s;
  }

/* block 3--------------------*/

  #block3 {
    display: flex;
    align-items: center;
    margin-top: 7em;
    margin-bottom: 3em;
  }

  .block3-content {
    margin: 6em;
    width: 600px;
    font-size: 1.5em;
  }
  
  .block3-content h2 {
    font-size: larger;
    word-spacing: 2px;
  }
  
  .block3-content p {
    font-size: large;
    word-spacing: 2px;
    line-height: 1.5;
    width: 400px;
  }

  
  .imageright
  {
    float: right;
    margin: 30px 60px;
    width: 500px;
    height: 350px;
    margin-right: 8.5em;
    margin-top: 4em;
  }

  .imageleft
  {
    float: left;
    margin: 30px 60px;
    width: 500px;
    height: 350px;
    margin-top: 6em;
    margin-left: 8.5em;
  }

  .button {
    background-color: #cd9ee9;
    color: #000;
    border: none;
    padding: 5px 15px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    opacity: 0.6;
    transition: 0.3s;
  }
  
  .button:hover {
    background-color: #b476d8;
    color: #fff;
  }
  

   /* first section. adjust height, image, and information accordingly */
  .intro 
  {
    background-image: url('../images/AGBig.JPG');
    background-size: cover;
    background-position: center;
    height: 400px;
  }

  .intro-text{
    font-size: 2em;
  }
  

  /* page footer below-------------------- */
  
  /*footer basics/alignment*/
  .footer-container
  {
    background-color: #ccbed4;
    padding: 4rem 0 8rem 0;
  }

  .logoFooter{
    margin: 20px 100px;
  }

  /*footer basics*/
  .footer
  {
    width: 80%;
    height: 25vh;
    background-color: #ccbed4;
    color: black;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    position: sticky;
    bottom: 0;
  }

  /*footer organization*/
  .footer-info
  {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
  }

  /*footer anchor details*/
  .footer-info a
  {
    color: black;
    text-decoration: none;
    margin-bottom: 2rem;
    margin-right: 5rem;
  }

  /*hover color footer*/
  .footer-info a:hover
  {
    color: #b476d8;
    transition: 0.1s ease-out;
    text-decoration: underline;
  }

  .unorderd_list{
    font-size: medium;
    word-spacing: 2px;
    width: 600px;
    margin-left: 8em; 
    margin-bottom: 3em;
  }

  