/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  
  /*Some test stuff for if the height of the screen is less than 450px*/
  @media screen and (max-height: 450px) 
  {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  
  /* Screen Sie differences for footer-------------*/
  @media screen and (max-width: 1150px) 
  {
   .footer
   {
     height: 60vh;
   }
  }
  
  @media screen and (max-width: 820px) 
  {
   .footer
   {
     padding-top: 1rem;
   }
  }
  
  @media screen and (max-width: 720px) 
  {
   .footer
   {
     padding-bottom: 1rem;
   }
  }
  
  /*1426 px*/
  @media screen and (max-width:1427px){
  
  }
  
  
  /*1280 px*/
  @media screen and (max-width:1285px){
  
  }
  
  /*1120 px*/
  @media screen and (max-width:1190px){
  
  }
  
  
  /*1024 px*/
  @media screen and (max-width:1025px){
    
  
  }
  
  /*912 px or surface pro*/
  @media screen and (max-width:913px){
  
  }
  
  /*820 px or ipad air*/
  @media screen and (max-width:821px){
  
  }
  
   /*768 px or ipad mini*/
   @media screen and (max-width:769px){
  
  }
  
  /*690 px*/
  @media screen and (max-width:690px){
  
  }
  
  
  /*540px and below*/
  @media screen and (max-width:541px){

  }
  
  /*462px*/
  @media screen and (max-width:463px){

  }
  
  /*415px and below*/
  @media screen and (max-width:415px){
  
  }
  
  /*376 px*/
  @media screen and (max-width:376px){
    .block1-content{
        margin: 0em;
        margin-left: 2em;
    }

    .block1-content p{
        width: 300px;
    }

    .imageright{
        display: none;
    }

    .block2-content{
        margin-left: 2em;
        margin-top: 2em;
    }

    .block2-content p{
        width: 300px;
    }

    .unorderlist{
        margin-left: 0em;
        width: 300px;
    }

    .unorderlist li{
        margin-left: 2em;
    }

    .logoFooter{
        display: none;
    }
    
    .footer-info{
        margin-right: 2rem;
    }
    
    
    .footer-info a{
        margin-bottom: 1rem;
        margin-right: 3rem;
    }
  
  }
  
  /*280 px or galaxy fold*/
  @media screen and (max-width:281px){
     
  
  }