/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*Some test stuff for if the height of the screen is less than 450px*/
@media screen and (max-height: 450px) 
{
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* Screen Sie differences for footer-------------*/
@media screen and (max-width: 1150px) 
{
 .footer
 {
   height: 60vh;
 }
}

@media screen and (max-width: 820px) 
{
 .footer
 {
   padding-top: 1rem;
 }
}

@media screen and (max-width: 720px) 
{
 .footer
 {
   padding-bottom: 1rem;
 }
}

/*1426 px*/
@media screen and (max-width:2001px){
  .imageright
  {
    margin-top: 9em;
    margin-right: 8rem;
    margin-left: 20rem;
    width: 300px;
    height: 400px;
  }
 
  .imageleft
  {
    margin-top: 0;
    margin-left: 20em;
    width: 350px;
    height: 225px;
  }
 
  .block1-content {
   margin: 0%;
   width: 500px;
   margin-top: 5em;
   margin-left: 2em;
   display: inline-block;
   margin-left: 16em;
 }
 
 
 .block1-content p
 {
   font-size: medium;
   word-spacing: 2px;
   width: 500px;
   margin-left: 20px 0px;
 }
 
 .block2
   {
     margin-top: 0%;
   }
 
 .block3-content
   {
     margin: 0%;
     width: 500px;
     height: 300px;
     font-size: 1.5em;
     display: inline-block;
     margin-left: 22rem;
   }
 
   .block3-content p
   {
     font-size: medium;
     word-spacing: 2px;
     width: 500px;
     margin-left: 2em;
   }

   .block3-content h2{
    margin-left: 1em;
   }

  .button2{
    margin-left: 1.5em;
  }

  .footer{
    margin:0;
    margin-left: 22rem;
  }
}

/*1426 px*/
@media screen and (max-width:1500px){
  .imageright
  {
    margin-top: 9em;
    margin-right: 8rem;
    margin-left: 20rem;
    width: 300px;
    height: 400px;
  }
 
  .imageleft
  {
    margin-top: 0;
    margin-left: 20em;
    width: 350px;
    height: 225px;
  }
 
  .block1-content {
   margin: 0%;
   width: 500px;
   margin-top: 5em;
   margin-left: 2em;
   display: inline-block;
   margin-left: 7em;
 }
 
 
 .block1-content p
 {
   font-size: medium;
   word-spacing: 2px;
   width: 500px;
   margin-left: 20px 0px;
 }
 
 .block2
   {
     margin-top: 0%;
   }
 
 .block3-content
   {
     margin: 0%;
     width: 500px;
     height: 300px;
     font-size: 1.5em;
     display: inline-block;
     margin-left: 5em;
   }
 
   .block3-content p
   {
     font-size: medium;
     word-spacing: 2px;
     width: 500px;
     margin-left: 2em;
   }

   .block3-content h2{
    margin-left: 1em;
   }

  .button2{
    margin-left: 1.5em;
  }

  .footer{
    margin:0;
    margin-left: 11rem;
    width: 1500px;
  }
}


/*1280 px*/
@media screen and (max-width:1285px){
  .imageright
  {
    margin-top: 9em;
    margin-right: 8em;
    width: 400px;
    height: 225px;
  }
 
  .imageleft
  {
    margin-top: 0;
    margin-left: 11em;
    width: 350px;
    height: 225px;
  }
 
  .block1-content {
   margin: 0%;
   width: 500px;
   margin-top: 5em;
   margin-left: 2em;
   display: inline-block;
   margin-left: 7em;
 }
 
 
 .block1-content p
 {
   font-size: medium;
   word-spacing: 2px;
   width: 500px;
   margin-left: 20px 0px;
 }
 
 .block2
   {
     margin-top: 0%;
   }
 
 .block3-content
   {
     margin: 0%;
     width: 500px;
     height: 300px;
     font-size: 1.5em;
     display: inline-block;
     margin-left: 5em;
   }
 
   .block3-content p
   {
     font-size: medium;
     word-spacing: 2px;
     width: 500px;
     margin-left: 2em;
   }

   .block3-content h2{
    margin-left: 1em;
   }

  .button2{
    margin-left: 1.5em;
  }

  .logoFooter{
    display: none;
    font-size: 1rem;
  }
  
  .footer-info
  {
    margin-right: 2rem;
  }
  
  
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }
  
  .footer{
    font-size: small;
    display: table;
    width: 300px;
  }


}

/*1120 px*/
@media screen and (max-width:1190px)
{
  .imageright
  {
    margin-top: 9em;
    margin-right: 5em;
    width: 250px;
    height: 225px;
  }
 
  .imageleft
  {
    margin-top: 10em;
    margin-right: 2em;
    margin-left: 11em;
    width: 250px;
    height: 150px;
  }
 
  .block1-content {
   margin: 0%;
   width: 350px;
   margin-top: 5em;
   display: inline-block;
   margin-left: 11em;
 }
 
 
 .block1-content p
 {
   font-size: medium;
   word-spacing: 2px;
   width: 350px;
   margin-left: 20px 0px;
 }
 
 .block2
   {
     margin-top: 0%;
   }
 
 .block3-content
   {
     margin: 0%;
     width: 350px;
     height: 300px;
     font-size: 1.5em;
     display: inline-block;
     margin-left: 8em
   }
 
   .block3-content p
   {
     font-size: medium;
     word-spacing: 2px;
     width: 350px;
     margin-left: 2em;
   }

   .logoFooter{
    display: none;
    font-size: 1rem;
  }
 
  .footer-info
  {
    margin-right: 2rem;
  }
 
 
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }
 
  .footer{
    margin-left: 0;
    margin-left: 2rem;
    width: 300px;
  }


}


/*1024 px*/
@media screen and (max-width:1025px)
{
  .imageright
  {
    margin-top: 9em;
    margin-left: 5rem;
    width: 250px;
    height: 300px;
  }
 
  .imageleft
  {
    margin-top: 10em;
    margin-right: 2em;
    margin-left: 11em;
    width: 250px;
    height: 250px;
  }
 
  .block1-content {
   margin: 0%;
   width: 350px;
   margin-top: 5em;
   display: inline-block;
   margin-left: 8em;
 }
 
 
 .block1-content p
 {
   font-size: medium;
   word-spacing: 2px;
   width: 350px;
   margin-left: 20px 0px;
 }
 
 .block2
   {
     margin-top: 0%;
   }
 
 .block3-content
   {
     margin: 0%;
     width: 350px;
     height: 300px;
     font-size: 1.5em;
     display: inline-block;
     margin-left: 4.5em;
   }
 
   .block3-content p
   {
     font-size: medium;
     word-spacing: 2px;
     width: 350px;
     margin-left: 2em;
   }

   .block3-content h2{
    margin-left: 1em;
   }

  .button2{
    margin-left: 1.75em;
  }

  .logoFooter{
    display: none;
    font-size: 1rem;
  }
  
  .footer-info
  {
    margin-right: 2rem;
  }
  
  
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }
  
  .footer{
    font-size: small;
    display: table;
    width: 300px;
  }

}

/*912 px or surface pro*/
@media screen and (max-width:913px){
  .imageright
  {
    margin-top: 9em;
    margin-right: 5em;
    width: 250px;
    height: 300px;
  }
 
  .imageleft
  {
    margin-top: 10em;
    margin-right: 2em;
    margin-left: 8em;
    width: 250px;
    height: 150px;
  }
 
  .block1-content {
   margin: 0%;
   width: 350px;
   margin-top: 5em;
   display: inline-block;
   margin-left: 5em;
 }
 
 
 .block1-content p
 {
   font-size: medium;
   word-spacing: 2px;
   width: 350px;
   margin-left: 20px 0px;
 }
 
 .block2
   {
     margin-top: 0%;
   }
 
 .block3-content
   {
     margin: 0%;
     width: 350px;
     height: 300px;
     font-size: 1.5em;
     display: inline-block;
     margin-left: 4em;
   }
 
   .block3-content p
   {
     font-size: medium;
     word-spacing: 2px;
     width: 350px;
   }

   .block3-content h2
   {
     margin-left: 1em;
   }

  .button2{
    margin-left: 1em;
  }

  .logoFooter{
    display: none;
    font-size: 1rem;
  }
 
  .footer-info
  {
    margin-right: 2rem;
  }
 
 
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }
 
  .footer{
    margin-left: 0;
    margin-left: 2rem;
    width: 300px;
  }

}

/*820 px or ipad air*/
@media screen and (max-width:821px){
  .imageright
 {
   margin-top: 9em;
   margin-left: 3rem;
   margin-right: 2rem;
   width: 250px;
   height: 300px;
 }

 .imageleft
 {
   margin-top: 10em;
   margin-right: 2em;
   margin-left: 4em;
   width: 250px;
   height: 150px;
 }

 .block1-content {
  margin-left: 3em;
  width: 350px;
  margin-top: 5em;
  display: inline-block;
}


.block1-content p
{
  font-size: medium;
  word-spacing: 2px;
  width: 350px;
  margin-left: 20px 0px;
  margin-bottom: 3em;
}

.block2
  {
    margin-top: 0%;
  }

  .block3-content
  {
    margin-left: 3em;
    margin-top: 0;
    width: 350px;
    height: 300px;
    font-size: 1.5em;
    display: inline-block;
  }

  .block3-content p
  {
    font-size: medium;
    word-spacing: 2px;
    width: 350px;
    margin-right: 0;
  }

 .button2{
  margin-left: 1.5em;
 }

 .logoFooter{
  display: none;
  font-size: 1rem;
}

.footer-info
{
  margin-right: 2rem;
}


.footer-info a
{
  margin-bottom: 1rem;
  margin-right: 3rem;
}

.footer{
  font-size: small;
  display: table;
  width: 300px;
}

.button1{
  margin-right: 2em;
}

}

 /*768 px or ipad mini*/
 @media screen and (max-width:769px){
   .imageright
 {
  display: none;
 }

 .imageleft
 {
  display: none;
 }

 .block1-content {
  margin: 0%;
  width: 600px;
  margin-top: 5em;
  margin-left: 4em;
}


.block1-content p
{
  font-size: medium;
  word-spacing: 2px;
  width: 600px;
  margin-left: 20px 0px;
}

.block2
  {
    margin-top: 0%;
  }

.block3-content
  {
    margin: 0%;
    margin-top: 0;
    width: 600px;
    height: 300px;
    font-size: 1.5em;
    display: inline-block;
    margin-left: 4em;
  }

  .block3-content p
  {
    font-size: medium;
    word-spacing: 2px;
    width: 600px;
  }

  .logoFooter{
    display: none;
    font-size: 1rem;
  }
  
  .footer-info
  {
    margin-right: 2rem;
  }
  
  
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }
  
  .footer{
    font-size: small;
    display: table;
    width: 300px;
  }
  
  .button1{
    margin-right: 2em;
  }


}

/*690 px*/
@media screen and (max-width:690px)
{
 .imageright
 {
   display: none;
 }

 .imageleft
 {
   display: none;
 }

 .block1-content {
  margin-left: 60px;
  width: 400px;
}

.block1-content h2
{
  display: none;
}


.block1-content p
{
  font-size: medium;
  word-spacing: 2px;
  width: 370px;
  height: 200px;
  margin-left: 20px 0px;
}

.block2
  {
    margin-top: 0%;
  }

.block3-content
  {
    margin-top: 0%;
    width: 400px;
    height: 300px;
    font-size: 1.5em;
    display: inline-block;
  }

  .block3-content p
  {
    font-size: medium;
    word-spacing: 2px;
    width: 360px;
    margin-left: 10em;
  }

 .button{
   display: table;
 }

 .logoFooter{
  display: none;
  font-size: 1rem;
}

.footer-info
{
  margin-right: 2rem;
}


.footer-info a
{
  margin-bottom: 1rem;
  margin-right: 3rem;
}

.footer{
  margin-left: 0;
  margin-left: 2rem;
  width: 300px;
}

}


/*540px and below*/
@media screen and (max-width:541px)
{
 .imageright
 {
   display: none;
 }

 .imageleft
 {
   display: none;
 }

 .block1-content {
  margin: 0%;
  width: 400px;
  margin-left: 4em;
}

.block1-content h2
{
  display: none;
}


.block1-content p
{
  font-size: medium;
  word-spacing: 2px;
  width: 370px;
  height: 200px;
  margin-left: 20px 0px;
  margin-bottom: 10em;
}

.block2
  {
    margin-top: 0%;
  }

.block3-content
  {
    margin: 0%;
    margin-top: 0%;
    width: 400px;
    height: 300px;
    font-size: 1.5em;
    display: inline-block;
  }

  .block3-content h2
  {
    display: none;
  }

  .block3-content p
  {
    font-size: medium;
    word-spacing: 2px;
    width: 360px;
    margin-left: 6em;
  }

 .button2{
   margin-left: 4.75em;
 }

 .logoFooter{
  display: none;
  font-size: 1rem;
}

.footer-info
{
  margin-right: 2rem;
}


.footer-info a
{
  margin-bottom: 1rem;
  margin-right: 3rem;
}

.footer{
  margin-left: 0;
  margin-left: 2rem;
  width: 300px;
}

}

/*462px*/
@media screen and (max-width:463px)
{
 .imageright
 {
   display: none;
 }

 .imageleft
 {
   display: none;
 }

 .block1-content {
  margin: 0%;
  width: 400px;

}

.block1-content h2
{
  display: none;
}


.block1-content p
{
  font-size: medium;
  word-spacing: 2px;
  width: 350px;
  margin-left: 4em;
}

.block2
  {
    margin-top: 0%;
  }

.block3-content
  {
    margin: 0%;
    margin-top: 0%;

    width: 400px;
    height: 300px;
    font-size: 1.5em;
    display: inline-block;
  }

  .block3-content p
  {
    font-size: medium;
    word-spacing: 2px;
    width: 350px;
    margin-left: 4em;
  }

  .button1 {
    margin-left: 0;
  }

  .button2{
    margin-left: 3.25em;
  }

  .logoFooter{
    display: none;
    font-size: 1rem;
  }
  
  .footer-info
  {
    margin-right: 2rem;
  }
  
  
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }
  
  .footer{
    font-size: small;
    display: table;
    width: 300px;
  }
  
  .button1{
    margin-right: 2em;
  }
  .unorderlist{
    width: 200px;
  }

}

/*415px and below*/
@media screen and (max-width:415px)
{
 .imageright
 {
   display: none;
 }

 .imageleft
 {
   display: none;
 }

 .block1-content {
  margin: 0%;
  width: 400px;
  margin-bottom: 5em;
}

.block1-content h2
{
  display: none;
}


.block1-content p
{
  font-size: medium;
  word-spacing: 2px;
  width: 350px;
  margin-left: 1.5em;
  margin-bottom: 10em;
}

.block2
  {
    margin-top: 0%;
  }

.block3-content
  {
    margin: 0%;
    margin-top: 0%;
    width: 400px;
    height: 300px;
    font-size: 1.5em;
    display: inline-block;
  }

  .block3-content h2
  {
    display: none;
  }

  .block3-content p
  {
    font-size: medium;
    word-spacing: 2px;
    width: 350px;
    margin-left: 2em;
  }

 .button2
 {
  margin: 0;
  margin-left: 2rem;
 }

 .logoFooter{
  display: none;
  font-size: 1rem;
}

.footer-info
{
  margin-right: 2rem;
}


.footer-info a
{
  margin-bottom: 1rem;
  margin-right: 3rem;
}

.footer{
  font-size: small;
  display: table;
  width: 300px;
}

.button1{
  margin-right: 2em;
}


}

/*376 px*/
@media screen and (max-width:376px)
{
  .imageright
 {
   display: none;
 }

 .imageleft
 {
   display: none;
 }

 .block1-content p
{
  font-size: medium;
  word-spacing: 2px;
  width: 310px;
  margin-left: 2em;
  margin-bottom: 10em;
}

.block2
  {
    margin-top: 0%;
  }

.block3-content
  {
    margin: 0%;
    margin-top: 0%;
    width: 400px;
    height: 300px;
    font-size: 1.5em;
    display: inline-block;
  }

  .block3-content h2{
    display: none;
  }

  .block3-content p
  {
    font-size: medium;
    word-spacing: 2px;
    width: 300px;
    margin-left: 2em;
  }

  .button1 {
    margin-left: 0;
    margin-right: 2em;
  }

  .button2{
    margin-left: 1.5em;
  }

  .logoFooter{
    display: none;
  }
 
  .footer-info
  {
    margin-right: 2rem;
  }
 
 
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }

  .button1{
   margin-right: 2em;
  }

  .footer{
    margin: 0;
    margin-left: 2rem;
    width: 300px;
  }

  .unorderlist{
    width: 200px;
  }


}

/*280 px or galaxy fold*/
@media screen and (max-width:281px){
   .imageright
 {
   display: none;
 }

 .imageleft
 {
   display: none;
 }

 .block1-content {
  margin-bottom: 0;
  width: 400px;
  margin-bottom: 10em;
}

.block1-content p{
  width: 220px;
}

.block3-content
  {
    margin: 0%;
    margin-top: 0%;
    width: 400px;
    height: 300px;
    font-size: 1.5em;
    display: inline-block;
  }

  .block3-content p
  {
    font-size: medium;
    word-spacing: 2px;
    width: 220px;
    margin-left: 2em;
  }

 .intro-text{
   font-size: 1em;
 }

 .intro {
     height: 300px;
 }

 .button{
   font-size: 10px;
 }
   
  .intro-text{
    font-size: 1em;
  }

  .intro {
      height: 300px;
  }

  .button1{
    margin-right: 2em;
  }

  .footer{
    margin-left: 0;
    margin-left: 2rem;
  }
  
    .logoFooter{
        display: none;
      }
     
      .footer-info
      {
        width: 200px;
        margin-right: 2rem;
      }
     
     
      .footer-info a
      {
        margin-bottom: 1rem;
        margin-right: 3rem;
      }
     
      .intro-text{
        font-size: 1em;
      }
     
      .intro {
          height: 300px;
      }
     
      .button1{
        margin-right: 2em;
      }

      .footer{
        width: 200px;
      }

}