/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*Some test stuff for if the height of the screen is less than 450px*/
@media screen and (max-height: 450px) 
{
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* Screen Sie differences for footer-------------*/
@media screen and (max-width: 1150px) 
{
 .footer
 {
   height: 60vh;
 }
}

@media screen and (max-width: 820px) 
{
 .footer
 {
   padding-top: 1rem;
 }
}

@media screen and (max-width: 720px) 
{
 .footer
 {
   padding-bottom: 1rem;
 }
}

/*1426 px*/
@media screen and (max-width:200px){
  .footer{
    margin-left: 22rem;
    width: 60%;
  }
}

/*1426 px*/
@media screen and (max-width:1500px){
  .footer{
    margin:0;
    margin-left: 11rem;
    width: 1500px;
  }
}


/*1280 px*/
@media screen and (max-width:1285px){
  .contact-us-box{
    margin: 0;
    width: 300px;
    height: 250px;
    margin-right: 5rem;
    margin-top: 2rem;
  }

  .contact-form-container{
    margin: 0;
    margin-top: 2rem;
    margin-left: 7rem;
    width: 300px;
    margin-bottom: 10rem;
  }

  .logoFooter{
    display: none;
    font-size: 1rem;
  }
 
  .footer-info
  {
    margin-right: 2rem;
  }
 
 
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }
 
  .footer{
    font-size: small;
    display: table;
    width: 300px;
  }
 
  .button1{
    margin-right: 2em;
  }
}

/*1120 px*/
@media screen and (max-width:1190px){
  .contact-us-box{
    margin: 0;
    width: 300px;
    height: 250px;
    margin-right: 22.5rem;
    margin-top: 2rem;
  }

  .contact-form-container{
    margin: 0;
    margin-top: 2rem;
    margin-left: 7rem;
    width: 250px;
    margin-bottom: 10rem;
  }

  .logoFooter{
    display: none;
  }
 
  .footer-info
  {
    margin-right: 2rem;
  }
 
 
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }

  .footer{
    margin: 0;
    margin-left: 4rem;
    width: 300px;
  }
}


/*1024 px*/
@media screen and (max-width:1025px){
  .contact-us-box{
    margin: 0;
    width: 300px;
    height: 250px;
    margin-right: 5rem;
    margin-top: 2rem;
  }

  .contact-form-container{
    margin: 0;
    margin-top: 2rem;
    margin-left: 7rem;
    width: 250px;
    margin-bottom: 10rem;
  }

  .logoFooter{
    display: none;
    font-size: 1rem;
  }
 
  .footer-info
  {
    margin-right: 2rem;
  }
 
 
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }
 
  .footer{
    font-size: small;
    display: table;
    width: 300px;
  }
 
  .button1{
    margin-right: 2em;
  }
}

/*912 px or surface pro*/
@media screen and (max-width:913px){
  .contact-us-box{
    margin: 0;
    width: 300px;
    height: 250px;
    margin-right: 5rem;
    margin-top: 2rem;
  }

  .contact-form-container{
    margin: 0;
    margin-top: 2rem;
    margin-left: 7rem;
    width: 200px;
    margin-bottom: 10rem;
  }

  .logoFooter{
    display: none;
    font-size: 1rem;
  }
 
  .footer-info
  {
    margin-right: 2rem;
  }
 
 
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }
 
  .footer{
    font-size: small;
    display: table;
    width: 300px;
  }
 
  .button1{
    margin-right: 2em;
  }
}

/*820 px or ipad air*/
@media screen and (max-width:821px){
  .contact-us-box{
    margin: 0;
    width: 300px;
    height: 250px;
    margin-right: 5rem;
    margin-top: 2rem;
  }

  .contact-form-container{
    margin: 0;
    margin-top: 2rem;
    margin-left: 7rem;
    width: 200px;
    margin-bottom: 10rem;
  }

  .logoFooter{
    display: none;
    font-size: 1rem;
  }
 
  .footer-info
  {
    margin-right: 2rem;
  }
 
 
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }
 
  .footer{
    font-size: small;
    display: table;
    width: 300px;
  }
 
  .button1{
    margin-right: 2em;
  }

}

 /*768 px or ipad mini*/
 @media screen and (max-width:769px){
  .contact-us-box{
    margin: 0;
    width: 300px;
    height: 250px;
    margin-left : 10rem;
    margin-right: 4rem;
    margin-top: 2rem;
  }

  .contact-form-container{
    margin: 0;
    margin-top: 2rem;
    margin-left: 7rem;
    width: 200px;
    margin-bottom: 10rem;
  }

  .logoFooter{
    display: none;
    font-size: 1rem;
  }
 
  .footer-info
  {
    margin-right: 2rem;
  }
 
 
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }
 
  .footer{
    font-size: small;
    display: table;
    width: 300px;
  }
 
  .button1{
    margin-right: 2em;
  }
}

/*690 px*/
@media screen and (max-width:690px){
  .logoFooter{
      display: none;
      font-size: 1rem;
    }
   
    .footer-info
    {
      margin-right: 2rem;
    }
   
   
    .footer-info a
    {
      margin-bottom: 1rem;
      margin-right: 3rem;
    }
   
    .footer{
      font-size: small;
      display: table;
    }
   
    .button1{
      margin-right: 2em;
    }

}


/*540px and below*/
@media screen and (max-width:541px){
  .contact-us-box{
    margin: 0;
    width: 300px;
    height: 300px;
    margin-right: 7.5rem;
  }

  .contact-form-container{
    margin: 0;
    margin-top: 20rem;
    margin-left: 11rem;
  }

  .logoFooter{
    display: none;
  }
 
  .footer-info
  {
    margin-right: 2rem;
  }
 
 
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }

  .footer{
    margin: 0;
    margin-left: 4rem;
  }
}

/*462px*/
@media screen and (max-width:463px){
  .contact-us-box{
    margin: 0;
    width: 300px;
    height: 300px;
    margin-right: 4.25rem;
  }

  .contact-form-container{
    margin: 0;
    margin-top: 20rem;
    margin-left: 7rem;
  }

  .logoFooter{
    display: none;
  }
 
  .footer-info
  {
    margin-right: 2rem;
  }
 
 
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }

  .footer{
    margin: 0;
    margin-left: 4rem;
    width: 300px;
  }
   
}

/*415px and below*/
@media screen and (max-width:415px){
  .contact-us-box{
    margin: 0;
    width: 300px;
    height: 300px;
    margin-right: 3.5rem;
  }

  .contact-form-container{
    margin: 0;
    margin-top: 20rem;
    margin-left: 7rem;
  }

  .logoFooter{
    display: none;
  }
 
  .footer-info
  {
    margin-right: 2rem;
  }
 
 
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }

  .footer{
    margin: 0;
    margin-left: 4rem;
    width: 300px;
  }
   

}
/*376 px*/
@media screen and (max-width:391px){

  .contact-us-box{
    margin: 0;
    width: 300px;
    height: 300px;
    margin-right: 3rem;
  }

  .contact-form-container{
    margin: 0;
    margin-top: 20rem;
    margin-left: 6rem;
  }

  .logoFooter{
    display: none;
  }
 
  .footer-info
  {
    margin-right: 2rem;
  }
 
 
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }

  .footer{
    margin: 0;
    margin-left: 4rem;
    width: 300px;
  }
   

}

/*376 px*/
@media screen and (max-width:375px){

  .contact-us-box{
    margin: 0;
    width: 300px;
    height: 300px;
    margin-right: 2.5rem;
  }

  .contact-form-container{
    margin: 0;
    margin-top: 20rem;
    margin-left: 6rem;
  }

  .logoFooter{
    display: none;
  }
 
  .footer-info
  {
    margin-right: 2rem;
  }
 
 
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }

  .footer{
    margin: 0;
    margin-left: 4rem;
    width: 300px;
  }
   

}



/*376 px*/
@media screen and (max-width:361px){

  .contact-us-box{
    margin: 0;
    width: 300px;
    height: 300px;
    margin-right: 2rem;
  }

  .contact-form-container{
    margin: 0;
    margin-top: 20rem;
    margin-left: 6rem;
  }

  .logoFooter{
    display: none;
  }
 
  .footer-info
  {
    margin-right: 2rem;
  }
 
 
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }

  .footer{
    margin: 0;
    margin-left: 4rem;
    width: 250px;
  }
   

}

/*280 px or galaxy fold*/
@media screen and (max-width:281px){
  .contact-us-box{
    margin: 0;
    width: 200px;
    height: 300px;
    margin-right: 2.5rem;
  }

  .contact-form-container{
    margin: 0;
    margin-top: 20rem;
    margin-left: 3rem;
    width: 200px;
  }

  .email{
    display: inline;
  }

  .logoFooter{
    display: none;
  }
 
  .footer-info
  {
    margin-right: 2rem;
  }
 
 
  .footer-info a
  {
    margin-bottom: 1rem;
    margin-right: 3rem;
  }

  .footer{
    margin: 0;
    margin-left: 4rem;
    width: 200px;
  }

}