*
  {
    /* so padding reaches top and sides*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body{
    color: black;
  }

  /* header of page css ----------------------------*/

  /* code for header blending in when scrolling */
  #headerBlock.scrolled 
  {
    background-color: white; /* Change this to scroll choice color */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    transition: background-color 0.3s ease-in-out;
    z-index: 999;
  }

  /* code for white padding block/header */
  #headerBlock
  {
    padding: 2px;
    transition: background-color 0.3s ease-in-out;
    background-color: #ccbed4;  /* color to blend header into image*/
  }

  /* code for font size of logo home button */
  #headerBlock p
  {
    font-size: 1.5em; 
    margin: 20px;
  }
  
  /* get rid of underline of logo link */
  #headerBlock a
  {
    text-decoration: none; 
  }

  /* code for dropdown menu size/location */
  #headerBlock span
  {
    font-size: 30px;
    cursor: pointer;
    float: right;
    width: 50px; 
    margin: 20px;
  }
  
  /*Overlay*/
  .overlay {
    height: 0; /*No height comes from top*/
    width: 100%; /*Width comes from top*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0); /*Color of drop*/
    background-color: rgba(0,0,0, 0.9); /*With opaticy*/
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  /*How the content is postioned in overlay*/
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  /*How the links will look inside the display*/
  .overlay a 
  {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: rgb(162, 162, 162);
    display: block;
    transition: 0.3s;
  }
  
  /*On mouse hover changes style of links*/
  .overlay a:hover, .overlay a:focus 
  {
    color: #335e7e;
  }
  
  /*Where the close button while be*/
  .overlay .closebtun 
  {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }


  /* page body below---------------------*/

  body 
  {
    /* font style and color of entire body*/
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #335e7e;
    overflow: scroll;
  }

  #block1 {
    display: flex;
    align-items: center;
  }
  
  .block1-content {
    width: 100%;
    font-size: 1.5em;
    margin-left: 4em;
    margin-right: 4em;
  }
  
  .block1-content h2 {
    margin-top: 2em;
    font-size: larger;
    word-spacing: 2px;
    color: #cd9ee9;
  }
  
  .block1-content p {
    font-size: large;
    word-spacing: 2px;
    line-height: 1.5;
    width: 100%;
  }

  h1 {
    margin-top: 2em;
    margin-bottom: 2em;
    color: white;
  }

  /*Get this switch color fade thing to work*/

  .ol {
    color: white;
  }

  .li{
    margin-left: 4em;
  }

  .li p{
    color: white;
  }

  .li a{
    color: white;
    text-decoration: underline;
    margin-left: 1em;
  }

  .li a:hover{
    color: #cd9ee9;
    transition: 0.1s ease-out;
    text-decoration: underline;
  }
  

  /* page footer below-------------------- */
  
  /*footer basics/alignment*/
  .footer-container
  {
    background-color: #ccbed4;
    padding: 4rem 0 8rem 0;
  }

  .logoFooter{
    margin: 20px 100px;
  }

  /*footer basics*/
  .footer
  {
    height: 25vh;
    background-color: #ccbed4;
    color: black;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    position: sticky;
    bottom: 0;
    margin-left: 11rem;
  }

  /*footer organization*/
  .footer-info
  {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
  }

  /*footer anchor details*/
  .footer-info a
  {
    color: black;
    text-decoration: none;
    margin-bottom: 2rem;
    margin-right: 5rem;
  }

  /*hover color footer*/
  .footer-info a:hover
  {
    color: #cd9ee9;
    transition: 0.1s ease-out;
    text-decoration: underline;
  }

  .unorderd_list{
    font-size: medium;
    word-spacing: 2px;
    width: 600px;
    margin-left: 8em; 
    margin-bottom: 3em;
  }
  .paragraph{
    margin-left: 2em;
    margin-right: 2em;
    color: white;
    width: 75%;
  }

  .dropdownbuton {
    background-color: #cd9ee9;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .dropdownbuton:hover, .dropdownbuton:focus {
    background-color: #cd9ee9;
    color: white;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .dropdown-content {
    display: none;
    background-color: #335e7e;
    overflow: auto;
  }
  
  .dropdown-content p {
    color: white;
    padding: 12px 16px;
    display: block;
  }

  .dropdown-content h2 {
    color: white;
    padding: 12px 16px;
    display: block;
    margin-left: 1em;
  }
  
  .show {display: block;}

  .fade {
    animation-name: fade;
    animation-duration: 5s;
    transition: opacity 0.75s;
  }

  .button1 {
    background-color: #cd9ee9;
    color: #000;
    border: none;
    padding: 5px 15px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.3s;
  }

  .button1:hover {
    background-color: #cd9ee9;
    color: white;
  }
  
  @keyframes fade {
    from {opacity: 0.5} 
    to {opacity: 1}
  }