  *
  {
    /* so padding reaches top and sides*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body 
  {
    /* font style and color of entire body*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
  }

  .block1 {
    margin: 2em;
    width: 600px;
    font-size: 2em;
    display: inline-block
  }
  
  .imageright{
      float: right;
      margin: 2em;
      width: 600px;
      height: 325px;
  }



  /* header of page css ----------------------------*/

  /* code for header blending in when scrolling */
  #headerBlock.scrolled 
  {
    background-color: white; /* Change this to background color */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    z-index: 999;
  }

  /* code for white padding block/header */
  #headerBlock
  {
    padding: 2px;
    background-color: lightblue;
  }

  /* code for font size of logo home button */
  #headerBlock p
  {
    font-size: 1.5em; 
    margin: 20px;
  }
  
  /* get rid of underline of logo link */
  #headerBlock a
  {
    text-decoration: none; 
  }

  /* code for dropdown menu size/location */
  #headerBlock span
  {
    font-size: 30px;
    cursor: pointer;
    float: right;
    width: 50px; 
    margin: 12px;
  }
  
  /*Overlay*/
  .overlay {
    height: 0; /*No height comes from top*/
    width: 100%; /*Width comes from top*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0); /*Color of drop*/
    background-color: rgba(0,0,0, 0.9); /*With opaticy*/
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  /*How the content is postioned in overlay*/
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  /*How the links will look inside the display*/
  .overlay a 
  {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: lightslategray;
    display: block;
    transition: 0.3s;
  }
  
  /*On mouse hover changes style of links*/
  .overlay a:hover, .overlay a:focus 
  {
    color: ghostwhite;
  }
  
  /*Where the close button while be*/
  .overlay .closebtun 
  {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /*Some test stuff for if the height of the screen is lesst than 450px*/
  @media screen and (max-height: 450px) 
  {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }


  /* page body below---------------------*/

  /* page footer below-------------------- */
  
  /*footer basics/alignment*/
  .footer-container
  {
    background-color: white;
    padding: 1rem 0 1rem 0;
  }

  /*footer basics*/
  .footer
  {
    width: 80%;
    height: 10vh;
    background-color: white;
    color: black;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  /*footer organization*/
  .footer-info
  {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
  }

  /*footer anchor details*/
  .footer-info a
  {
    color: pink;
    text-decoration: none;
    margin-bottom: 0.5rem;
    margin-right: 6rem;
  }

  /*hover color footer*/
  .footer-info a:hover
  {
    color: red;
    transition: 0.3s ease-out;
    text-decoration: underline;
  }

  /* Screen Sie differences for footer-------------*/
  @media screen and (max-width: 1150px) 
  {
    .footer
    {
      height: 30vh;
    }
  }

  @media screen and (max-width: 820px) 
  {
    .footer
    {
      padding-top: 1rem;
    }
  }

  @media screen and (max-width: 720px) 
  {
    .footer
    {
      padding-bottom: 1rem;
    }
  }

